body{
    background-color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}
h1{
    color: black;
    font-size: xx-large;
}
p{
    color: aliceblue;
}